.vscode
resources
smartcontracts/.idea

resources/
smartcontracts/.idea/

# See https://help.github.com/ignore-files/ for more about ignoring files.
# idea
.idea/

# dependencies
node_modules/
package-lock.json
/vocal/package-lock.json
/vocal/server/package-lock.json
/vocal/server/*wallet.json
venv/
venv
sc/README.md

vocal/server/db/vocalfb.json

# Docker
Dockerfile
docker-compose.yml

# server dependencies
server/node_modules/

# testing
coverage/
test/

vocal/node_modules
vocal/server/node_modules
vocal/server/testconfig.js
vocal/server/testtoken.js
vocalcontracts/node_modules
vocalcontracts/node_modules/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
test/test.js
