body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Custom Styles Below */

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sync-result-image {
    width: 32px;
}

.dashboard-image {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 150px;
}

.login-form {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.login-button {
    margin-top: 20px;
}

.login-form-field-name {
    margin: 5px;
    font-size: 16px;
}

.login-form-group, .issue-form-group {
    padding: 4px;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
}

.issue-form-group, .vote-form-group {
    padding: 5px;
    margin-left: 20px;
    max-width: 500px;
}

.clear {
    clear: both;
}

.preview-text {
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.sync-result-box {
    padding: 5px;
}

.your-balance, .your-issues {
    padding: 20px;
    font-size: large;
    margin: 25px;
}

.home-video-heading {
    margin: 20px;
    padding-bottom: 40px;
}

.login-image {
    margin-bottom: 15px;
    height: 40px;
    padding-bottom: 4px;
}

.radio-form-input {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.modal-image {
    height: 36px;
    margin-bottom: 25px !important;
}

.footer-slogan {
    font-family: serif;
    margin-left: 2px;
    font-size: 12px;
    color: whitesmoke;
}

.home-video-section {
    font-family: Cochin, Georgia, Garamond;
    color: whitesmoke;
    background: #292c2f;
    padding-top: 40px;
    padding-bottom: 150px;
}

.center-video {
    margin: 0 auto;
    text-align: center;
}

.synced-issues h3 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.refresh-button {
    margin: 25px;
    min-width: 250px
}

.vote-button {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.group-padding {
    padding: 20px;
}

.stats-text {
    font-size: 16px;
    line-height: 16px;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.search-image {
    max-width: 250px;
    margin: 10px;
    padding-top: 25px;
}

.search-form {
    margin: 20px;
}

.loading-text {
    margin-top: 25px;
    font-size: 16px;
    font-family: "Cutive mono", "Courier New", monospace;
}

.error-text {
    color: red;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.modal-header {
    color: gray;
    font-size: 24px;
    margin: 5px;
}

.search-subtitle-text {
    margin-bottom: 20px;
}

.search-banner-text {
    margin: 20px;
    padding: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.faq-whitepaper {
    margin: 20px;
    padding: 20px;
}

.faq-box {
    padding-left: 20px;
}

.patient-row {
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.dash-heading {
    margin: 20px;
}

.search-result {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}

.issue-row {
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 10px;
}

.emph {
    font-weight: bold;
    /* font-style: italic; */
}

.issue-heading {
    margin-bottom: 20px;
}

.vote-row {
    padding: 20px;
    border: 1px dotted black;
}

.user-stats-header {
    margin: 30px;
}

.start-button {
    clear: both;
    font-size: 16px !important;
    width: 170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 5px;
    margin-left: 8px;
}

.patient-heading {
    color: purple;
}

.page-heading {
    color: purple;
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.jumbotron {
    height: 100vh;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.top-margin {
    margin-top: 20px;
}

.static-modal-jumbotron {
    color: #222222;
    opacity: 1.0;
}

.feed-heading {
    /* margin-top: 15px; */
    padding: 5px;
}

.feed-item {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    background: whitesmoke;
}

.jumbotron p {
    font-size: 26px;
}

.black-divider {
    background: black;
    height: 75px;
    width: 100%;
}

.jumbotron {
    margin-bottom: 0px !important;
}

.code-grid {
    margin-top: 50px;
    margin-bottom: 50px;
}

.white {
    color: white !important;
}

.purple {
    color: purple !important;
}

.home-right-col {
    padding-right: 15px;
}

.home-banner-image {
    margin-top: 100px;
    margin-bottom: 15px;
    height: 100px;
}

@media (max-width: 767px) {
    .home-banner-image {
        margin-top: 25px;
        margin-bottom: 25px;
        height: 60px;
    }
}

.faq-bottom-text {
    margin-top: 40px;
    padding-top: 40px;
}

.header-image {
    height: 52px;
    /* line-height: 60px; */
    /* padding-top: 12px; */
    cursor: pointer;
}

.footer-image {
    height: 50px;
    padding-bottom: 5px;
    cursor: pointer;

}

.home-box-grid {
    margin-top: 50px;
    padding: 5px;
}

.home-box {
    display: inline-block;
    clear: both;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    min-height: 250px;
}

.clear {
    clear: both;
}

.pointer {
    cursor: pointer;
}

.page-value {
    font-size: 18px;
    margin: 30px;
    padding-bottom: 30px;
}

.paper-download-link {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.slogan-text {
    font-family: 'Roboto', sans-serif;
    /*font-weight: bold !important;*/
    font-size: 28px !important;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.react-tabs__tab--selected {
    color: #3b5998;
    border-color: #3b5998;
    font-weight: bold;
}

.red {
    color: red;
}

.react-tabs__tab {
    width: 50%;
    font-size: x-large;
    text-align: center;
    border-bottom: 5px solid #3b5998;
}

.dark-background {
    background: #292c2f;
}

.border-bottom-blue {
    border-bottom: 5px solid #3b5998;
}

.facebook-blue {
    color: #3b5998;
}

.navbar-nav a:hover {
    background: #e7e7e7;
}

.help-icon {
    margin: 0 auto;
    text-align: center;
    clear: both;
    display: inline-block;
    white-space: nowrap;
    padding: 30px;
    color: firebrick;
}

.home-learn-more {
    font-size: small !important;
    text-decoration: underline;
    margin: 20px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.home-bottom-text {
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
}

.issue-row {
}

.issue-row-icon {
    padding: 5px;
}

.home-box-number {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}

.white-background {
    background: white;
}

.bootstrap-green {
    background: #dff0d8;
}

.header-text-section {
    margin: 50px;
}

.navbar-nav li:hover {
    background: #dbdbdb;
}

.meal-plan-button {
    margin: 10px;
}

.header-text {
    font-weight: bold;
    font-size: 16px;
}

.black {
    color: black;
}

.transparency-jumbotron {
    background: rgb(0, 0, 0);
    max-height: 100%;
    background-size: cover;
}

.selected-item {
    background: #eee;
    font-weight: bold;
}

.sidebar-container {
    /* border: 1px solid black; */
}

.search-form {
    max-width: 600px;
}

.neo-logo {
    max-width: 800px;
}

.neo-logo-text {
    font-family: "Cutive mono", "Courier New", monospace;
    color: white;
    margin: 50px !important;
    padding-bottom: 15px;
}

/* .sidebar-item:hover {
  background: lightsteelblue !important;
} */

.full-width {
    width: 100%;
}

.feed-item {
    width: auto !important;
    overflow: hidden;
}

.dots-width {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.home-background {
    /* background: #0d112B; */
    background: #3b5998;
    /* background: black; */
}

.sidebar-item {
    border: 5px;
    width: 100%;
    margin: 3px;
    height: 50px;
    padding-left: 10px;
    padding-right: 5px;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.active-row {
    background: lightblue !important;
}

.push-left {
    float: left !important;
}

.img-img {
    width: 100px;
    height: 100px;
}

.dashboard-container {
    padding: 5px;
    margin-top: 10px;
}

.login-area {
    margin: 0 auto;
    max-width: 300px;
    border: 1px solid black;
    height: 300px;
}

#facebook-login-button button {
    color: white;
    background: #3b5998;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#github-login-button button {
    color: white;
    background: black;
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.github-logo {
    margin-top: 20px;
    padding: 25px;
    width: 150px;
}

.page-header {
    margin: 20px;
}

.small {
    font-size: small !important;
}

.medium {
    font-size: medium !important;
}

.large {
    font-size: large !important;
}

.xlarge {
    font-size: x-large !important;
}
